<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-learning System</title>
</head>
<body>
<a href="/">Return home</a>

<h2>Welcome to Contacts Page</h2>

<form action="#" th:action="@{/addcontacts}" th:object="${contacts}" method="post">
    <label for="userId">Name</label>
    <input type="text" th:field="*{userId}" id="userId" placeholder="userId">
    <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>

    <label for="name">Password</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <label for="phoneNumber">Phone</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Phone">
    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>

    <label for="message">Address</label>
    <input type="text" th:field="*{message}" id="message" placeholder="Message">
    <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>

    <input type="submit" value="Add User">
</form>
</body>
<html/>